<div id="oNas" class="container">
  <h2 class="text-center py-3">O Martinovi a Šárce</h2>
  <div class="row">
    <div class="col-md-6">
      <img src="{{ site.baseurl }}/assets/images/about/Martin.jpg" class="img-fluid" alt="Šárka">
      <h3 class="py-2">Martin</h3>
      <p>blablabla</p>
    </div>
    <div class="col-md-6">
      <img src="{{ site.baseurl }}/assets/images/about/Sarka.jpg" class="img-fluid" alt="Šárka">
      <h3 class="py-2">Šárka</h3>
      <p>hodna slešinka buďhodná, ale občas zlobí, to nevadí tak pak</p>
    </div>
  </div>
</div>
