<div id="oNas" class="container">
  <h2 class="text-center py-4">O Martinovi a Šárce</h2>
  <div class="row d-flext justify-content-around text-center">
    <div class="col-md-5">
      <div class="text-center">
        <img src="{{ site.baseurl }}/assets/images/about/Martin.jpg" class="w-50 rounded-circle" alt="Šárka">
      </div>
      <h3 class="pt-4 pb-2 text-center">Martin</h3>
      <p class="text-justify">Hodný, skromný drsňák s romantickou duší a pevnými názory.
        Vždycky vám bude krýt záda, podpoří vás a pomůže, stejně tak se ale nebude bát vyjádřit, pokud se mu něco nepozdává.
        Martin je prostě člověk do pohody i nepohody se svérázným humorem a praštěnými nápady.
        Až ho potkáte na svatbě, můžete si společně popovídat o jazzu, dobrém víně či rumu, malování a hackování, anebo o tom, kdo z vás má radši gumové medvídky.</p>
    </div>
    <div class="col-md-5">
      <div class="text-center">
        <img src="{{ site.baseurl }}/assets/images/about/Sarka.jpg" class="w-50 rounded-circle mx-auto" alt="Šárka">
      </div>
      <h3 class="pt-4 pb-2 text-center">Šárka</h3>
      <p class="text-justify">Šárka je milá, hodná, kreativní dětská duše,
         která umí každému velmi snadno vykouzlit úsměv na tváŕi.
         Zároveň je to takový malý uzlíček nervů, který je poháněný smyslem pro detail a pokud se něco nedaří, není radno si s ní zahrávat.
         Až ji potkáte na svatbě, můžete si s ní povídat o umění, hudbě, pohádkách, cestování, vašich oblíbených čajích, nebo komu z vás více voní levandule.</p>
    </div>
  </div>
  <hr class="mt-5" width=70%>
</div>
