<div id="story" class="container py-4">
  <h2 class="text-center py-3">Naše společná cesta</h2>
  <div class="row d-flex">
    <div class="col-md-12 text-justify">
      <p>Šárka a Martin se potkali v práci na podzim 2019. Spojila je milá náhoda - Šárka pořádala firemní akci a Martinovi se na ní nedařilo přihlásit. Trochu sondoval, kdo mu může poradit s registrací a narazil na osůbku pracující v komunikačním oddělení. A ta mu, světe div se, opravdu pomohla. Čímž vlastně postupně začaly pracovní dny, a pak i nepracovní večery společné psané konverzace.
        Co bylo dál? Nejdřív společný oběd ve firemní jídelně (je přece potřeba se po měsíci virtuálních debat konečně osobně seznámit). Pak kino - Ovečka Shaun 2. Jinak to nešlo... A tak to pokračovalo dál: přes posezení ve vinárně, první burger a procházky po staré Praze, po objevování kaváren a večerních doprovodů domů. Romantika, jen co je pravda.
      </p>

      <p>No a jak šly dny a týdny, Martin a Šárka začali trávit čím dál více času spolu. Doma i venku, po práci i o víkendech. Zlom přišel po společné oslavě Silvestra u Šárky doma, po které přišla na řadu otázka - co takhle se společně přestěhovat? A po mírném hledacím úsilí a menší hádce k tomu došlo. Našli krásný byt v Dejvicích, podepsali smlouvu a přestěhovali hromadu věcí Šárky a pár drobností Martina. Za minutu dvanáct. První týden strávený v novém bytě… a začala celostátní karanténa. Společné bydlení 24/7. Ano, může se to zdát náročné, konečně, pro koho ty dva měsíce náročné nebyly, ale paradoxně to jak Martin, tak Šárka zhodnotili jako super období i přes občasné zamračeno. Poznali se o dost víc, naučili se společně fungovat a žít. A hlavně zjistili, že by takhle chtěli žít napořád.
      </p>

      <p>Když si pak konečně, v létě 2020, dovybavili společnou domácnost, rozhodli se pro zasloužený odpočinek - dvoutýdenní dovolenou. Nejdřív na Šumavě, dát si trochu do těla a pak v Mariánských Lázních, pro změnu maximálně relaxovat. A nebylo to nikde jinde než na Modravě, kam se za neočekávaně krásného slunečného dne vydali společně na výlet, kde si na malém paloučku, vedle řeky Vydry Martin klekl a zeptal se na tu jednu zásadní otázku a kde Šárka se slzou v oku řekla “Ano” (a nikde nebyla ani noha, což jak asi víte, je přesně to, co si oba přáli).
      </p>

      <p>A tak se dostáváme do finále první kapitoly, která bude oficiálně uzavřena 10.7.2021, abychom společně otevřeli další kapitolu s názvem “Šárka a Martin Pavelkovi”.
      </p>
    </div>
  </div>
</div>
