<div class="container-fluid bg-navy">
  <div class="container pt-4 text-white">
    <div class="row">
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-100 mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-100 mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-100 mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-100 mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-100 mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-100 mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
    </div>
  </div>
</div>
