<div class="container-fluid bg-navy">
  <div class="container pt-4 text-white">
    <div class="row">
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Jayjay.jpg" class="w-75 team-mem  mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Jayjay</h4>
          <p class="caption">Svědek</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Petra.jpg" class="w-75 team-mem  mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Peťa</h4>
          <p class="caption">Svědkyně</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Gregor.jpg" class="w-75 team-mem  mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Gregor</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Nikca.jpg" class="w-75 team-mem  mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Nikča</h4>
          <p class="caption">Družička</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Marty.jpg" class="w-75 team-mem  mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Marty</h4>
          <p class="caption">Družba</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="{{ site.baseurl }}/assets/images/about/Babu.jpg" class="w-75 team-mem  mx-auto rounded-circle" alt="">
          <h4 class="text-center pt-3">Babu</h4>
          <p class="caption">Družička</p>
        </div>
      </div>
    </div>
  </div>
</div>
