<section id="venue">
    <div class="d-flex justify-content-center align-items-center venue-heading mb-5">
        <div class="col-12 text-center">
            <h2 class="mb-0">Zámek Kluky</h2>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 text-start">
                <p>{{ site.data.data.place.info }}</p>
                <p><strong>Adresa:</strong>
                    Kluky 1, 285 45 Kluky, Středočeský kraj
                    (Pozor, aby vás navigace nezavedla do jiných Kluků!) :)
                   </p>
            </div>
            <div class="col-lg-6 text-center">
                <div id="map" class="ratio ratio-16x9"><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2569.5295137788576!2d15.322655477517694!3d49.907635726297606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDU0JzI3LjUiTiAxNcKwMTknMzAuOCJF!5e0!3m2!1sen!2scz!4v1711467176238!5m2!1sen!2scz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div> 
    </div>  
</section>