<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="">Místo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-start">
                <h3>Kde se potkáme</h3>
                <p>{{ site.data.data.place.info }}</p>
            </div>
            <div class="col-lg-6 text-start">
                <img src="http://via.placeholder.com/1000x300" class="img-fluid w-100 mt-3 mb-5" alt="Placeholder Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-start">
                <h3>Jak se sem dostanete</h3>
                <p>Dostanete se sem výhradně autem</p>
            </div>
            <div class="col-lg-6 text-center">
                <div id="map" class="ratio ratio-16x9"><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2569.5295137788576!2d15.322655477517694!3d49.907635726297606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDU0JzI3LjUiTiAxNcKwMTknMzAuOCJF!5e0!3m2!1sen!2scz!4v1711467176238!5m2!1sen!2scz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>    
    </div>  
</section>