<section id="timetable">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="">Harmonogram</h2>
            </div>
        </div>
        <!-- Days -->
        <div class="row">
            {% for day in site.data.events %}
            <div class="col mb-3 text-center">
                <div class="card py-5">
                    <h3 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                        {{ day.name }}
                    </h3>
                    <ul class="list-timeline list-timeline-primary">
                        {% for event in day.events %}
                        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">{{ event.time }}</span> - {{ event.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>