<section id="photos">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="">Fotogalerie</h2>
                <span>A třešničkou na závěr je pár fotek z naší dosavadní společné cesty životem.</span>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            {% for photo in site.data.photos %}
            <div class="col-md-3 text-center">
                <a href="{{ site.baseurl }}/assets/images/gallery/{{ photo.name }}" data-lightbox="us" data-alt="{{ photo.caption }}"><img src="{{ site.baseurl }}/assets/images/gallery/mini/{{ photo.name }}" alt="{{ photo.caption }}" class="rounded"></a>
            </div>
            {% endfor %}
        </div>    
    </div>  
</section>