<section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="fw-bold">About Us</h2>
      </div>
    </div>
    <div class="row align-items-center">
      {%- comment -%} First row  {%- endcomment -%}
      <div class="col-md-6 text-center">
        <img src="http://via.placeholder.com/150" class="rounded-circle mt-3 mb-5" alt="Image Placeholder">
        <div class="row">
          <div class="col text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ed</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="http://via.placeholder.com/150" class="rounded-circle mt-3 mb-5" alt="Image Placeholder">
        <div class="row">
          <div class="col ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ed</p>
          </div>
        </div>
      </div>
    </div>    
  </div>  
</section>
