<div class="parallax container-fluid d-flex align-items-center">
  <div class="container d-flex justify-content-left align-items-center">
    <div class="row">
      <div class="col ml-5">
        <h1 id="heading" class="pb-3">Šárka & Martin</h1>
        <p id="datum" class="pt-3"><b>10. července 2021 | Vinice Hnanice</b></p>
        <button type="button" class="btn btn-lg bg-gold text-white text-uppercase mt-3" data-toggle="modal" data-target="#ucast">Potvrdit účást</button>
      </div>
    </div>
  </div>
</div>


<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf3q6ycG-jUbBY3KvC6yI_ykuJrKn2cxmPYXHyisJ2VOgGuog/viewform?embedded=true" width="640" height="664" frameborder="0" marginheight="0" marginwidth="0">Načítání…</iframe> -->
