<section id="invite">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold">Pozvánka</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mb-5">
            <div class="col text-center">Dress code páni</div>
            <div class="col text-center">Vítejte a přijďte dnes, díky moc, paráda</div>
            <div class="col text-center">Dress code dámové</div>
        </div>
        <div class="row align-items-center justify-content-center text-center">
            <h2>Dresscode barva škála věc</h2>
            <div class="col text-center">
                <span style="display: inline-block; width: 5em; height: 5em; background-color: #FCF14C; border-radius: 50%;"></span>
                <span style="display: inline-block; width: 5em; height: 5em; background-color: #FFF18E; border-radius: 50%;"></span>
                <span style="display: inline-block; width: 5em; height: 5em; background-color: #79A84A; border-radius: 50%;"></span>
                <span style="display: inline-block; width: 5em; height: 5em; background-color: #BAD77B; border-radius: 50%;"></span>
                <span style="display: inline-block; width: 5em; height: 5em; background-color: #5FA3E3; border-radius: 50%;"></span>
                <span style="display: inline-block; width: 5em; height: 5em; background-color: #9BC5FE; border-radius: 50%;"></span>
            </div>
        </div>        
    </div>        
</div>  
</section>
