<nav class="navbar fixed-top navbar-expand-lg" role="navigation" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            {{ site.data.data.bride.short_name | slice: 0 }} & {{ site.data.data.groom.short_name | slice: 0 }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="#navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse navbar-right" id="navbarScroll">
            <ul class="nav navbar-nav ms-auto">
                {% for item in site.data.navigation %}
                <li class="nav-item">
                    <a href="#{{site.baseurl}}{{item.link}}" class="nav-link">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>