<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Tak pak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navigation %}
            {% if page.url == item.url %}
              <li class="nav-item">
                <a href="{{ item.url }}" class="nav-link font-weight-bold">{{ item.title }}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
              </li>
            {% endif %}

        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
