<nav id="navbar" class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">Šárka a Martin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
