<section id="timetable">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold">Harmonogram</h2>
            </div>
        </div>
        <!-- Days -->
        <div class="row">
            <div class="col mb-3 text-center">
                <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                    Sobota, Nov 13th
                </h4>
                <ul class="list-timeline list-timeline-primary">
                    {% for item in site.data.events %}
                    {% if item.sobota %}
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">{{ item.time }}</span> - {{ item.description }}</p>
                    </li>
                    {% endif %}
                    {% endfor %}    
                </ul>
            </div>
            <div class="col mb-3 text-center">
                <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                    Nedele, Nov 13th
                </h4>
                <ul class="list-timeline list-timeline-primary">
                    {% for item in site.data.events %}
                    {% if item.nedele %}
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">{{ item.time }}</span> - {{ item.description }}</p>
                    </li>
                    {% endif %}
                    {% endfor %}    
                </ul>
            </div>
        </div>
    </div>
</section>