<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold">Místo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-start">
                <h3>Kde se potkáme</h3>
                <p>Svatba se odehraje na mistě na které by vás nenapadlo se jet podívat možná, možná je to vaše vysněné místo, možná taky ne, ale kdo ví, třeba se podívate i doleva, když přijedete napravo</p>
                <h3 class="mt-5">Jak se sem dostanete</h3>
                <p>Dostanete se sem výhradně autem</p>
            </div>
            <div class="col-6 text-center">
                <img src="http://via.placeholder.com/1000x300" class="img-fluid w-100 mt-3 mb-5" alt="Placeholder Image" />
                <div id="map"><iframe style="border:none" src="https://en.frame.mapy.cz/s/hefetuhode" width="500" height="333" frameborder="0"></iframe></div>
            </div>
        </div>    
    </div>  
</section>