$backgroundColor: #ffffff;
$bodyColor: #141414;
$bodyFont: 'Cardo', serif;
$headingFont: 'Raleway', sans-serif;
$yellow-d: #FCF14C;
$yellow-b: #FFF18E;
$green-d: #79A84A;
$green-b: #BAD77B;
$blue-d: #5FA3E3;
$blue-b: #9BC5FE;

header {
    font-family: $bodyFont;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
}

section {
  margin-top: 50px;
}

section h2 {
  margin-bottom: 30px;
}