$backgroundColor: #ffffff;
$bodyColor: #141414;
$bodyFont: "Space Mono", monospace;
$headingFont: "Roboto", sans-serif;
$yellow-d: #FCF14C;
$yellow-b: #FFF18E;
$green-d: #79A84A;
$green-b: #BAD77B;
$blue-d: #5FA3E3;
$blue-b: #9BC5FE;

body {
    font-family: $bodyFont;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h2 {
  margin-bottom: 30px;
}

#aboutus img {
  max-width: 60%;
}

#photos img {
  max-width: 100%;
}