.parallax {
  background: linear-gradient(0deg, rgba(189, 156, 80, 0.15), rgba(189, 156, 80, 0.15)), url('/assets/images/cover.jpg');
  min-height: 60vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#datum {
  font-size: 1.5rem;
  @extend .text-white
}

@media only screen and (max-device-width: 760px) {
    .parallax {
      background-attachment: scroll;
      background-position: bottom;

    img .team-mem {
      width: 70%!important;
    }
  }

  #datum {
    font-size: 1rem;
  }
}
