.parallax {
  background: linear-gradient(0deg, rgba(189, 156, 80, 0.15), rgba(189, 156, 80, 0.15)), url('/assets/images/dresscode/header.jpg');
  min-height: 60vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 760px) {
  .parallax {
    background-attachment: scroll;
  }
}


.dot {
  width: 100%;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

#circle-navy {
  width: 100px;
  height: 100px;
  @extend .bg-navy;
  border-radius: 50%
}


.bg-navy{background-color:#112545}
.bg-champagne{background-color:#f7e7ce}
.bg-rose{background-color:#fc94af}
.bg-gold{background-color:#bd9c50}
.bg-white{background-color:#fff}
