*, *::before, *::after {
  box-sizing: border-box;
}

.main-header {
    background: url($baseurl+'/assets/images/flaua.jpg'), rgba(0, 0, 0, 0.308);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    color: white;
}

#venue, #gifts {
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    color: white;
}

#venue {
    background-image: linear-gradient(to bottom, rgba(152, 202, 221, 0.95), rgba(0, 0, 0, 0.719)), url($baseurl+'/assets/images/chateau.jpg');
}
#gifts {
    background-image: linear-gradient(to bottom, rgba(152, 202, 221, 0.95), rgba(0, 0, 0, 0.719)), url($baseurl+'/assets/images/gifts.jpg');
}

@media screen and (max-device-width: 1600px){
    .main-header, #venue, #gifts {
        background-attachment: scroll;
    }
}

.main-header h1 {
    font-size: 5rem;
}

.main-header p {
    font-size: 3rem;
}

