// GLOBAL CSS
@font-face {
  font-family: 'amostely';
  src: url('/assets/fonts/AmostelySignature.ttf');
}

.amostely {
  font-family: 'amostely';
}

body {
    @extend .text-navy;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
}
// GLOBAL LINKS
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  @extend .text-navy;
  transition: all 0.5 ease;
}

// NAV
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  @extend .text-navy;
}

.navbar-light {
  background-color: white!important;
}

// HEADER //
h1 {
  // font-family: 'Allura', cursive;
  font-family: 'amostely';
  @extend .text-white;
  font-size: 6rem;
  // font-family: 'Euphoria Script', cursive;
}

@media only screen and (max-device-width: 760px) {
  .parallax {
    background-attachment: scroll;
  }

  h1 {
    font-size: 5rem;
  }

}

.navbar-brand{
  font-family: 'amostely';
  font-size: 3rem;
}


// COLORS
.bg-navy{background-color:#173e68}
.bg-champagne{background-color:#e8c399}
.bg-rose{background-color:#f4cbcb}
.bg-oldrose{background-color:#dda5a6}
.bg-grey{background-color: #cfcfce}
.bg-white{background-color:#fff}
.text-navy{color:#173e68}
.text-champagne{color:#e8c399}
.text-rose{color:#f4cbcb}
.text-oldrose{color:#dda5a6}
.text-grey{color: #cfcfce}
.text-white{color:#ffffff}
