// HEADER PARALLAX
.parallax {
  // background: url('https://d1di2lzuh97fh2.cloudfront.net/files/3m/3m9/3m92w5.png?ph=bfa764d7bb&t=1');
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('/assets/images/ubytovani/hnanice.jpg');
  /* Set a specific height */
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 760px) {
  .parallax {
    background-attachment: scroll;
  }
}


// google map reponsive
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
