<div class="container">
  <div class="row">
    <div class="col-md-12 pt-4">
      <blockquote class="blockquote">
        <p class="mb-0">Největším dárkem pro nás bude, když s námi oslavíte a užijete si svatební den.</p>
      </blockquote>
    </div>
    <div class="col-md-12 mt-3">
      <h4>Finanční dar</h4>
      <p>Pokud nám budete chtít dát i něco navíc, budeme rádi za jakýkoliv finanční obnos. Necháme na vás, jestli se rozhodnete pro obálkovou (nebo snad kufříkovou) metodu obdarování, anebo pro převod na účet. V případě toho druhého zde přikládáme číslo našeho účtu: 2027161014/3030</p>
    </div>
    <div class="col-md-12 mt-3">
      <h4>Hmotný dar</h4>
      <p>Trváte-li na hmotném daru, pak jsme si dovolili napsat seznam věcí, které by se nám hodily do domácnosti. Rezervace je možná níže - prosíme, nekupujte dary, které jsou již rezervované.</p>
      <ol>
        <li>Přihlaste se do aplikace tomikup.cz, anebo kontaktujte svědkyni (<b><a href="https://www.facebook.com/petra.vacula97">Facebook</a></b>/<b><a href="mailto:pvaculova@seznam.cz">mail</a></b>), aby dar rezervovala pro vás.</li>
        <li>Zarezervujte dar.</li>
        <li>Přineste prosím koupený dar na svatbu.</li>
      </ol>
      <iframe src="https://tomikup.cz/list/public/a0dbda82-a6c7-46d7-ac85-c9dcaebe059c?embed=True" onload="var a=this;a.contentWindow.postMessage(JSON.stringify({url:window.location.href}),'*');window.addEventListener('message',function(b){try{var c=JSON.parse(b.data);c.id==='tomikup-emb-a0dbda82-a6c7-46d7-ac85-c9dcaebe059c'&&(a.style.width=c.width,a.style.height=c.height)}catch(e){}},!1);" style="border:0;height:700px;transition:all 1s"></iframe>
    </div>
  </div>
</div>
