<div class="container">
  <div class="row">
    <div class="col-md-12 pt-4">
      <blockquote class="blockquote">
        <p class="mb-0">Veškeré dění, tedy obřad i následná hostina, proběhne na jednom místě - v <a class="font-weight-bold" href="http://www.vinice-hnanice.cz">Hotelu Vinice Hnanice</a>, v obci Hnanice (kousek od Znojma) na okraji Národního parku Podyjí.</p>
      </blockquote>

        <div class="text-center pt-3">

          <ul class="py-3">
            <li class="pt-3"><strong>11:30<br>Příjezd hostů (mezi 11. a 12. hodinou)</strong><br>Přivítáme vás welcome drinkem v lobby hotelu. Nezapomeňte si nechat připnout svou svatební korsáž (svatební vývazek).</li>
            <li class="pt-3"><strong>12:30<br>Svatební obřad</strong><br>Na paloučku u biotopu/pod střechou a deštníky - záleží na počasí.</li>
            <li class="pt-3"><strong>13:30<br>Společné focení</strong></li>
            <li class="pt-3"><strong>14:30<br>Slavnostní oběd</strong></li>
          </ul>

        </div>


        <p>Odpolední program budeme postupně upřesňovat a přidávat. Určitě se ale můžete těšit na krájení dortu, fotokoutek, cimbálovou muziku, novomanželský tanec, večerní raut, prskavkový špalír apod.</p>
      </div>
    </div>
  </div>
