<div class="container">
  <div class="row">
    <div class="col-md-12 pt-4">
      <blockquote class="blockquote">
        <p class="mb-0">Veškeré dění, tedy obřad i následná hostina, proběhne na jednom místě - v <a class="font-weight-bold" href="http://www.vinice-hnanice.cz">Hotelu Vinice Hnanice</a>, v obci Hnanice (kousek od Znojma) na okraji Národního parku Podyjí.</p>
      </blockquote>

        <div class="text-center pt-3">

          <ul class="py-3">
            <li class="pt-3"><strong>11:30<br>Příjezd hostů (mezi 11. a 12. hodinou)</strong><br>Přivítáme vás welcome drinkem a občerstvením v lobby hotelu. Nezapomeňte si tu nechat připnout svou svatební korsáž (svatební vývazek) a dopřát si zepár kousků k zobu.</li>
            <li class="pt-3"><strong>12:30<br>Svatební obřad</strong><br>Na paloučku u biotopu</li>
            <li class="pt-3"><strong>13:30<br>Společné focení</strong></li>
            <li class="pt-3"><strong>14:30<br>Slavnostní oběd</strong></li>
            <li class="pt-3"><strong>16:15<br>Krájení dortu s cimbálovou muzikou</strong></li>
            <li class="pt-3"><strong>18:45<br>Házení kyticí, DJ a první novomanželský tanec</strong></li>
            <li class="pt-3"><strong>21:00<br>Průvod s prskavkama</strong></li>
          </ul>

        </div>
        <p>Dále se můžete těšit na fotokoutek, sladký bar, pánský koutek, dětský koutek, večerní raut nebo na svatební noviny.</p>
      </div>
    </div>
  </div>
