<div class="container">
  <h2 class="text-center py-4">Jak se za námi dostanete</h2>
  <div class="row">
    <div class="col-md-6 text-left">
      <h3 class="py-3 px-4">Auto</h3>
      <ul>
        <li><h4 class="mt-2">Z Prahy</h4></li>
        Cesta trvá cca 2 hodiny a 45 minut. Doporučujeme sjet u Jihlavy (sjezd 112A) a pak frčet kolem Moravských Budějovic do Znojma...
        <li><h4 class="mt-2">Z Brna</h4></li>
        Cesta trvá cca 1 - 1,5 hodiny. Směr Pohořelice a pak Znojmo…
        <li><h4 class="mt-2">Z Vrbového</h4></li>
        Cesta trvá cca 2,5 hodiny. Směr Břeclav, Hustopeče, Pohořelice a pak Znojmo...
        <p class="mt-3">… Ve Znojmě už jen přejedete most a dáte se směrem na Nový Šaldorf a pak dál do Hnanic.</p>
        <li><h4 class="mt-2">Parkování</h4></li>
        Parkování je zajištěno uvnitř areálu hotelu - nebojte se projet branou. Dáte se pak vlevo od vjezdu přímo na parkoviště.
      </ul>
    </div>
    <div class="col-md-6 text-left">
      <h3 class="py-3 px-4">Autobus</h3>
      <ul>
        <li><h4 class="mt-2">Z Prahy</h4></li>
        Cesta trvá cca 3 - 3,5 hodiny. RegioJet jede z Florence až do Znojma...
        <li><h4 class="mt-2">Z Brna</h4></li>
        Cesta trvá cca 1 hodinu a 45 minut. Linkový bus jede ze Zvonařky do Znojma…
        <p class="mt-2">… Ze Znojma je pak možné frčet dalším linkovým busem do Hnanic, anebo se domluvíme na svozu.</p>
      </ul>
    </div>
  </div>
</div>
