<div class="parallax container-fluid d-flex align-items-center">
  <div class="container d-flex justify-content-left align-items-center">
    <div class="row">
      <div class="col ml-5">
        <h1 id="heading" class="pb-3">Menu</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 py-4 text-center">

      <h2>Máte-li nějakou dietu, kontaktujte prosím svědkyni (<b><a target="_blank" href="https://www.facebook.com/petra.vacula97">Facebook</a></b>/<b><a href="mailto:pvaculova@seznam.cz">mail</a></b>).</h2>
      <h3 class="mt-5"><i>Tato sekce bude doplněna později.</i></h3>
    </div>
  </div>
</div>
