<div class="container">
  <div class="row">
    <div class="col-md-12 py-4 text-center">
      <h2>Obědový lístek</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <h3>Hlavní menu</h3>
      <p>Hovězí consommé, maso, zelenina, nudle <br>Hovězí svíčková na smetaně, karlovarský knedlík</p>
    </div>
    <div class="col-md-4 mb-3">
      <h3>Vegetariánské menu</h3>
      <p>Zeleninový vývar<br>Grilované tofu, brambory grenaille</p>
    </div>
    <div class="col-md-4 mb-3">
      <h3>Bezlepkové menu a pro nejmenší</h3>
      <p>Hovězí consommé, maso, zelenina<br>Přírodní kuřecí řízek, brambory grenaille</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 py-4 text-center">
      <h2>Nápoje</h2>
      <b>Přípitek k obědu</b>: Vinice hnanice sekt brut <br>
      <b>Nevěsta a ženich hradí</b>: Nealkoholické nápoje (vč. teplých nápojů), pivo Wolfgang, víno <br>
      <b>Tvrdý alkohol</b>: na baru - platba možná hotovostí, kartou, napsání na pokoj <br>
      <b>Další info a bližší detaily na místě</b>
    </div>
  </div>
</div>
